<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BMart"
        tools:targetApi="31">
        <activity
            android:name=".activities.vsActivities.AddProducts"
            android:exported="false" />
        <activity
            android:name=".activities.vsActivities.Orders"
            android:exported="false"/>
        <activity
            android:name=".activities.vsActivities.ViewStore"
            android:exported="false" />
        <activity
            android:name=".activities.MyStore"
            android:exported="false" />
        <activity
            android:name=".activities.CreateStore"
            android:exported="false" />
        <activity
            android:name=".activities.VirtualStore"
            android:exported="false" />
        <activity
            android:name=".activities.Confirmation"
            android:exported="false" />
        <activity
            android:name=".activities.Checkout2"
            android:exported="false" />
        <activity
            android:name=".activities.Conversation"
            android:exported="false" />
        <activity
            android:name=".activities.ItemClick"
            android:exported="false" />
        <activity
            android:name=".activities.Terms"
            android:exported="false" />
        <activity
            android:name=".activities.PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".activities.Help"
            android:exported="false" />
        <activity
            android:name=".activities.Orders"
            android:exported="false" />
        <activity
            android:name=".activities.Favorites"
            android:exported="false" />
        <activity
            android:name=".activities.EditProfile"
            android:exported="false" />
        <activity
            android:name=".activities.Profile"
            android:exported="false" />
        <activity
            android:name=".activities.ItemDetails"
            android:exported="false" />
        <activity
            android:name=".activities.VendorDetails"
            android:exported="false" />
        <activity
            android:name=".activities.Checkout"
            android:exported="false" />
        <activity
            android:name=".activities.Dashboard"
            android:exported="false" />
        <activity
            android:name=".activities.SignUp"
            android:exported="false" />
        <activity
            android:name=".activities.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>